body{
    background: #F3F5FC;
    position: absolute;
}
@media only screen and (min-width: 600px) {
main{
    margin: 2% 10%;
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(2, 1fr);
    width:min-content;
}

.logo{
    margin-left: 5%;
    width: 2%;
    height: 2%;
    grid-column: 1 / 3;
    grid-row: 1;
}

.textodesencriptado{
    grid-column: 1;
    grid-row: 2 / 5;
    /* Ingrese el texto aqui */
    background: #F3F5FC;
    width: 577px;
    height: 400px;
    margin: 0 100px 60% 0;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */
    /* Dark blue/dark-blue-300 */
    color: #0A3871;
}

.framebuttons{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 680px;
    height: 67px;
    margin: 2%  0 0 0;
 
}

.button1{
    position: static;
    width: 280px;
    height: 19px;
    left: 24px;
    top: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align:center;

    /* White */
    color: #FFFFFF;
    /* Auto layout */
    position: static;
    width: 328px;
    height: 67px;
    left: 0px;
    top: 0px;

    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;
}

.button2{
    position: static;
    width: 280px;
    height: 19px;
    left: 24px;
    top: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Dark blue/dark-blue-300 */
    color: #0A3871;
    /* Auto layout */
    position: static;
    width: 328px;
    height: 67px;
    left: 352px;
    top: 0px;

    /* Light gray */
    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
}

.textoencriptado{
    grid-column: 3;
    grid-row: 2 / 5;
    width: 300px;
    height: 944px;
    padding: 10%;
    display: flex;
    justify-content: center;
   
    
    /* White */
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px; 
}

.muñeco{
    /* Muñeco */
    position: absolute;
    width: 336px;
    height: 304px;
    top: 283px;

}

.error{
/* Frame 5 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 336px;
    height: 122px;
    top: 619px;
}

.mjeNoEncontrado{
       /* Ningún mensaje fue encontrado */
       position: static;
       width: 336px;
       height: 58px;
       left: 0px;
       top: 0px;
   
       font-family: 'Inter';
       font-style: normal;
       font-weight: 700;
       font-size: 24px;
       line-height: 120%;
       /* or 29px */
       text-align: center;
   
       /* Gray/gray-500 */
       color: #343A40;
       /* Inside auto layout */
       flex: none;
       order: 0;
       align-self: stretch;
       flex-grow: 0;
       margin: 16px 0px;
}

.txtDesencriptar{
    /* Ingresa el texto que desees encriptar o desencriptar. */
    position: static;
    width: 336px;
    height: 48px;
    left: 0px;
    top: 74px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    text-align: center;

    /* Gray/gray-400 */
    color: #495057;
}

.reseña{
    

    position: absolute;
    width: 500px;
    height: 18px;
    left: 10%;
    top: 851px;
}

.botoncopiar{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    /* White */
    color: #FFFFFF;
    /* Auto layout */
    position: absolute;
    width: 328px;
    height: 67px;
    top: 800px;
    left: 810px;


    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;
}

.limpiar{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    /* White */
    color: #FFFFFF;
    /* Auto layout */
    position: absolute;
    width: 328px;
    height: 67px;
    top: 900px;
    left: 810px;


    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;

}

footer{
    background-color: #0A3871;
    bottom: 0;
    height: 50px;
    width: 135%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

}